name: Continuous Integration

on:
  pull_request:
    branches: ['**']
  push:
    branches: ['**']
    tags: [v*]

jobs:
  test:
    name: Test Release
    runs-on: ubuntu-20.04
    services:
      postgres:
        image: postgres:12-alpine
        environment:
          POSTGRES_DB: "test_db"
          POSTGRES_PASSWORD: "secret"
          POSTGRES_USER: postgres
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - '5432:5432'

    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0

      - name: Setup Scala
        uses: olafurpg/setup-scala@v13
        with:
          java-version: openjdk@1.17

      - name: Test Release
        run: sbt clean scalafmtCheckAll scalafmtSbtCheck compile test

      - name: Tests
        run: sbt clean coverage "Gatling / testOnly ru.tinkoff.load.jdbc.test.DebugTest" coverageReport

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3

  publish:
    name: Publish Release
    needs: [test]
    if: github.event_name != 'pull_request' && (github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/v'))
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0

      - name: Setup Scala
        uses: olafurpg/setup-scala@v13
        with:
          java-version: openjdk@1.17

      - name: Publish Release
        run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
